<h1 class="text-center">Home page</h1>
<h2 class="text-center">Hello! this is a main page where you will see a info about your profile</h2>

<div class="text-center">
    <p>you are not logged now, please register or login</p>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/registration" class="btn btn-primary">Registration</a>
</div>


