<h1>Load page</h1>
<form role="form" action="/load-file" data-toggle="validator" id="myForm" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="file">Password:</label>
        <input type="file" id="file">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>