<h1 class="text-center">Login</h1>
<form role="form" action="/login-user" data-toggle="validator" method="POST">
    <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="name" name="name" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="last-name">Password</label>
        <input type="text" class="form-control" id="last-name" name="last-name" required>
        <div class="help-block with-errors"></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="marg-top-1">
    <a href="/" class="">Go Home</a>
</div>
